[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = ">=3.3.2"
distro = ">=1.5.0"
docker = ">=4.3.1"
gevent = ">=22.08.0"
grpcio = ">=1.63.0,<1.68"
httplib2 = ">=0.19.0"
importlib-metadata = ">=7.1.0"
matplotlib = ">=3.3.4"
numba = ">=0.51.2"
optuna = "==3.6.1"
pdfkit = ">=0.6.1"
prometheus-client = ">=0.9.0"
protobuf = "*"
psutil = ">=5.8.0"
pyyaml = ">=5.3.1"
requests = ">=2.24.0"
tritonclient = {extras = ["all"], version = ">=2.4.0"}
urllib3 = ">=2.0.7"

[dev-packages]

[requires]
python_version = "3.8"
